@charset "UTF-8";
/* CSS Document */

body{ background:#EFEDEE; color:#2C2C2F; font-family: "Microsoft Yahei", "微软雅黑", SimHei,Tahoma, Arial, Helvetica, STHeiti;  _font-family: Tahoma,Arial,Helvetica,STHeiti; text-align:Justify}
.title01{ height:35px; line-height:35px; padding:0 10px; font-weight:bold; border-top-left-radius:5px; border-top-right-radius:5px; overflow:hidden; letter-spacing:0.5px;}
.title01 .loginico01{ float:left; background:url(../images/icon01.png) no-repeat left center; background-size:20px 20px; width:25px; height:35px;}
.cont01{ border-top:#fff solid 1px; -webkit-box-shadow: 0px -2px 3px #c9c7c8; -moz-box-shadow: 0px -2px 3px #c9c7c8; box-shadow: 0px -2px 3px #c9c7c8;}
.cont01 .box01{word-wrap:break-word; clear:both; padding:15px 20px; line-height:18px; font-size:14px; }
.cont01 .box01 p{ padding:0; margin:0; line-height:18px;}
.cont01 .box01 a{ color:#F6921E;}
.loginbox{ background:#fff; padding:25px 0 5px; -webkit-box-shadow:0 0 3px #c9c7c8; -moz-box-shadow:0 0 3px #c9c7c8; box-shadow:0 0 3px #c9c7c8; }
.loginlable{ text-align:right; font-weight:bold;}
.loginBtn{ border:#f69524 solid 1px; color:#f69524; font-size:14px; font-weight:bold; background-image:linear-gradient(to top,#c4c4c6,#fff); padding:0 15px; text-shadow: #fff 0 1px 0;} 
.loginBtn:hover{ color:#f78700;}
.loginForgetPw{ color:#2C2C2F; padding-left:10px; font-size:12px; text-decoration:none;}
a.loginForgetPw:hover{ color:#F6921E}
a.loginForgetPw:active{ color:#F6921E}
.loginNotice{ background:url(../images/icon02.png) no-repeat left top; background-size:18px 18px; padding:0 0 0 25px;  font-size:12px; margin-top:10px;}
.loginNotice span{ padding:0 5px; color:#f69524;}
.loginadv{ background:url(../images/image01.jpg) no-repeat top center; background-size:100% 100%; height:130px;}
.modal-headerbor{ border-bottom:#666666 solid 2px; margin-bottom:15px;}
.modal-headerbor h4{ text-align:center;}
.findPWcancel{ color:#2C2C2F; padding-left:20px; font-size:14px;}
.findPWcancel:hover{ color:#F6921E}
.login-dialog {margin: 40% auto;}
.bottomBtBox01{ background:#F6921E; position:fixed; bottom:0; width:100%;}
.bottomBtBox01 .linkbox{ background:url(../images/line01.png) no-repeat center center; background-size:28px 28px; height:50px;}
.bottomBtBox01 a{ float:left; display:block; width:50%; height:50px; line-height:50px; font-size:18px; text-align:center; color:#fff;}
.bottomBtBox01 a:hover{ text-decoration:none;}
.bottomBtBox01 .itelephone{ display:inline-block; background:url(../images/icon11.png) no-repeat left bottom; background-size:22px 22px; width:25px; height:22px; vertical-align: middle}
.bottomBtBox01 .onlineYD{display:inline-block; background:url(../images/icon10.png) no-repeat right bottom; background-size:22px 22px; width:25px; height:22px; vertical-align: middle}
.bottomBtBox02{ background:#F6921E; position:fixed; bottom:0; width:100%; color:#fff;}
.bottomBtBox02 a{ display:block; line-height:50px; text-align:center; color:#fff; cursor:pointer}
.bottomBtBox02 a:hover{ text-decoration:none;}
.bottomBtBox02 .orderPayDetail{ float:left; width:75%; background:url(../images/line01.png) no-repeat right center; background-size:28px 28px; height:50px;}
.bottomBtBox02 .orderPayDetail  a { float:right; padding:0 30px 0 10px; font-size:14px;}
.bottomBtBox02 .orderPayDetail p{ line-height:20px; font-size:13px; padding:5px 0 0 15px; float:left; font-weight:lighter;}
.bottomBtBox02 .orderPayDetail p strong{ font-size:14px;}
.bottomBtBox02 .orderConfirm{ float:left; width:25%; font-size:16px; font-weight:bold;}

.orange{ color:#f69524;}

/*费用明细*/
.costDetail{bottom:50px;}
.costDetail>.modal-backdrop { bottom:50px;}
.costDetail>.modal-dialog{ width:100%; margin:0; position:absolute; bottom:-1px;}
.costDetail-content{ border-radius:0; border:0;}
.costDetail-content>.modal-header{ border:none; padding:10px 15px 0;}
.costDetail-content>.modal-header h4{ font-size:16px;}
.costDetail-content>.modal-body{ padding:0 15px;}
.costDetailModalTitle{ height:10px; clear:both;}
.costDetailModalTitle .leftorang{ background:#F6921E; float:left; width:25%; height:10px;}
.costDetailModalTitle .entry-trangle{ float:left; width:0; height:0; border-top:10px solid transparent; border-bottom: 10px solid transparent; border-left: 10px solid #F6921E; }
.cosDetail-roombox{ padding:0 0 5px 0;}
.cosDetail-roombox p{ padding:0; margin:0; line-height:20px;}
.cosDetail-roombox .perprice{ height:20px; line-height:20px;  font-size:14px;  color:#F6921E; padding-left:1em;}
.cosDetail-roombox .perprice .personNum{ float:left; width:100px; color:#666666;}
.hr-dash{ border-bottom:#CCC dotted 1px; height:0; margin:0; padding:0;}
.cosDetail-subtotal{ color:#F6921E; text-align:right; font-size:14px; line-height:30px;}
.span-right{ float:right;}

/*book*/
.title01 .loginico02{ float:left; background:url(../images/icon03.png) no-repeat left center; background-size:20px 20px; width:25px; height:35px;}
.wordIcon{ color:#f69524; font-size:10px; height:25px; border:#f69524 solid 1px; padding:0 2px; border-radius:2px;}
.Whitebox{ background:#fff; padding:10px 25px; -webkit-box-shadow:0 0 3px #c9c7c8; -moz-box-shadow:0 0 3px #c9c7c8; box-shadow:0 0 3px #c9c7c8; }
.successNotice{ background:url(../images/icon04.png) no-repeat left top; background-size:18px 18px; padding-left:25px; color:#f69524; font-size:14px; line-height:18px;}
.successNotice p{ padding:0; margin:0; line-height:18px;}
.successNoticeList{ list-style:none; padding:0; margin:0; padding-bottom:10px; border-bottom:#2C2C2F dashed 1px; clear:both}
.successNoticeList02{ list-style:none; padding:0; margin:0; padding:10px 0; margin-bottom:40px;  clear:both}
.successNoticeList li, .successNoticeList02 li{ line-height:1.5em; clear:both;}
.successNoticeList label{ float:left}
.successNoticeList .spaceleft10{ padding-left:10px;}
.successNoticeList .info{ float:left; text-align:left}
.bookBox{ background:#fff; border-top:#dedede solid 1px;}
.bookTitleList{ }
.bookTitle-tabs{ border:none; border-bottom:#dedede solid 1px;}
.bookTitle-tabs>li{float:left; width:25%; background:url(../images/line03.png) no-repeat left center; background-size:1px 35px;}
.bookTitle-tabs>li>a{ text-align:center;  font-size:16px; color:#333333;  padding:5px;}
.bookTitle-tabs>li>a>.price{ font-size:13px;}
.bookTitle-tabs>li>a>.f12{ font-size:12px;}
.bookTitle-tabs>li>a:hover{ background:url(../images/line03.png) no-repeat left center; background-size:1px 35px;}
.bookTitle-tabs>li>a:hover>span{ color:#F6921E;}
.bookTitle-tabs>li.active>a,.bookTitle-tabs>li.active>a:hover,.bookTitle-tabs>li.active>a:focus{cursor:default;background-color:#fff; border:none; border-bottom:2px solid #F6921E;}
.bookTitle-tabs>li.active>a>span,.bookTitle-tabs>li.active>a:hover>span,.bookTitle-tabs>li.active>a:focus>span{ color:#F6921E;}
.bookListCon{ margin:5px; border-bottom:#666 dashed 1px; padding:5px; height:auto; overflow:hidden; line-height:1.4;}
.bookListCon .roominfo{clear:both;  padding-bottom:5px; height:auto; overflow:hidden;}
.bookListCon .roomName{ float:left; width:40%; font-size:14px; color:#333333; font-weight:bold;}
.bookListCon .roomPerNum{float:left; width:30%; font-size:12px; color:#999999;}
.bookListCon .roomNum{ float:right; width:30%}
.bookListCon .roomNum a{float:left; display:block; width:22px; height:22px; line-height:18px; vertical-align:middle; text-align:center; border-radius:15px; margin-right:5px; cursor:pointer; font-weight:bold;}
.bookListCon .roomNum a.btlink{  border:#F6921E solid 2px; color:#F6921E; }
.bookListCon .roomNum a.graylink{border:#989898 solid 2px; color:#989898;}
.bookListCon .roomNum .numtext{float:left; width:30px; border:#999 solid 1px; border-radius:2px; text-align:center; color:#333333; height:20px; line-height:20px; font-size:14px; margin-right:5px;}
.bookListCon .perinfo{ clear:both; color:#666666; }
.bookListCon .perinfo .person{ float:left; width:30%;}
.bookListCon .perinfo .price{ float:left; color:#F6921E;}
.bookListNotice{margin:5px; padding:5px; height:auto; overflow:hidden; line-height:1.4;}
.bookListNotice h5{ padding:0; margin:0; line-height:1.8; font-size:14px;}
.bookListNotice p{ color:#4D4D4D; line-height:1.3; font-size:13px;}
.bookStep2{ padding:10px;}
.bookStep2 h5{ padding:0; margin:0; line-height:1.4; font-size:14px; padding:0 5px;}
.bookStep2 .roombox{ background:#EFEDEE; margin-top:20px; margin-bottom:10px; position:relative; border-radius:5px; padding:20px 5px 5px 5px}
.bookStep2 .roombox .headbox{  position:absolute; left:0; top:-15px; width:100%;  height:30px; line-height:30px; background-image:-webkit-linear-gradient(to top, #c1c1c1,#eaeaea); border-radius:5px; background-image:linear-gradient(to top,  #c1c1c1,#eaeaea); border:#eaeaea solid 1px; -webkit-box-shadow:0 0 3px #c9c7c8; -moz-box-shadow:0 0 3px #c9c7c8; box-shadow:0 1px 3px #c9c7c8;}
.bookStep2 .roombox .headbox .titlebg{ margin:0 5px; height:30px; line-height:30px; padding-right:30px;}
.bookStep2 .roombox .headbox .garyico{ background:url(../images/icon12.png) no-repeat right center; background-size:16px 16px;}
.bookStep2 .roombox .headbox .orangeico{background:url(../images/icon13.png) no-repeat right center; background-size:16px 16px;}
.bookStep2 .roombox .headbox .roomName{ font-size:14px; color:#333333; font-weight:bold;}
.bookStep2 .roombox .headbox .roomPer{ font-size:13px; color:#666666; padding-left:10px;}
.bookStep2 .roombox  .headbox .arrowdown{ background:url(../images/icon08.png) no-repeat right center; background-size:12px 12px;}
.bookStep2 .roombox  .headbox .arrowup{ background:url(../images/icon09.png) no-repeat right center; background-size:12px 12px;}
.bookStep2 .roombox .infobox{ line-height:1.2; display:none;}
.bookStep2 .roombox .infobox ul{ list-style:none; padding:0; margin:0;}
.bookStep2 .roombox .infobox li{ padding:5px; clear:both; height:auto; overflow:hidden;}
.bookStep2 .roombox .gray{ color:#666666}
.bookStep2 .roombox .f12{ font-size:12px;}
.bookStep2 .roombox .dashline{ border-bottom:#666666 dashed 1px;}
.bookStep2 .roombox .numchoose{ float:right;}
.bookStep2 .roombox .numchoose a{float:left; display:block; width:22px; height:22px; line-height:18px; text-align:center; border-radius:15px; margin-right:5px; cursor:pointer; font-weight:bold;}
.bookStep2 .roombox .numchoose a.btlink{  border:#F6921E solid 2px; color:#F6921E; }
.bookStep2 .roombox .numchoose a.graylink{border:#989898 solid 2px; color:#989898;}
.bookStep2 .roombox .numchoose .numtext{float:left; width:30px; border:#999 solid 1px; border-radius:2px; text-align:center; color:#333333; height:20px; line-height:20px; font-size:14px; margin-right:5px;}
.bookStep2 .LXbox{ padding:5px; margin-bottom:30px; height:auto; overflow:hidden;}
.bookStep2 .LXbox ul{ list-style:none; padding:0; margin:0;}
.bookStep2 .LXbox li{ padding:5px 0; height:auto; overflow:hidden; text-align:left; line-height:1.5}
.bookStep2 .LXbox li .infoN{ float:left; width:30%;}
.bookStep2 .LXbox li .infoinput{ float:left; width:70%;} 

/*centerlist*/
.title01 .centerico01{ float:left; background:url(../images/icon05.png) no-repeat left center; background-size:20px 20px; width:25px; height:35px;}
.title01 .centerli{ padding:0 0 0 5px; background:url(../images/line02.png) no-repeat left center; background-size:1px 16px; margin-left:5px;}
.carousel-indicators li{display:inline-block;width:40px;height:3px;margin:0px 5px; text-indent:-999px;cursor:pointer;background-color:#000 \9;background-color:rgba(250,250,250,0.5); border:none; border-radius:0}
.carousel-indicators .active{width:40px;height:3px;margin:0;background-color:#fff; border:none; }
.carousel-indicators{bottom:0px}
.carousel{ margin-top:10px;} 
.recomTitleBox{ border-bottom:#c4c2c3 solid 1px; height:40px; line-height:40px; padding:0 15px; font-weight:bold; }
.recomTitleBox .searchLink{ float:right; background:url(../images/icon06.png) no-repeat right center; background-size:22px 22px; padding-right:25px;  }
.recomTitleBox a{color:#2C2C2F;}
.recomTitleBox a:hover{ text-decoration:none}
.recomBox{ border-top:#fff solid 1px;}
.recomnav-tabs{ border:none; margin:0 10px;}
.recomnav-tabs>li{float:left;margin:10px 5px;}
.recomnav-tabs>li>a{margin-right:2px;line-height:1; border-radius:4px; font-size:16px; color:#868585; border:#868585 solid 1px;background-image:-webkit-linear-gradient(to bottom, #fefefe, #c1c1c1); background-image:linear-gradient(to bottom, #fefefe, #c1c1c1); padding:5px; text-shadow:1px 1px 1px #FFFFFF;}
.recomnav-tabs>li>a:hover{ color:#F6921E; border:#868585 solid 1px;}
.recomnav-tabs>li.active>a,.recomnav-tabs>li.active>a:hover,.recomnav-tabs>li.active>a:focus{color:#F6921E;cursor:default;background-color:#fff;border:1px solid #F6921E;}
.recomnav-tabs.nav-justified{width:100%;border-bottom:0}
.recomnav-tabs.nav-justified>li{float:none}
.recomnav-tabs.nav-justified>li>a{margin-bottom:5px;text-align:center}
.recomtab-content{ padding: 0 10px 5px 10px; }
.recomListBox{ margin-bottom:8px; background:#fff; border-radius:5px; -webkit-box-shadow: 0px 0px 5px 0px #999;  -moz-box-shadow: 0px 0px 5px 0px #999; box-shadow: 0px 0px 5px 0px #999; padding:5px;}
.recomListBox .titlebox{ border-bottom:#CCC solid 1px; position:relative; padding-right:80px;}
.recomListBox .titlebox .pricebox{ position:absolute; right:0; top:0; text-align:right; color:#666666; font-size:12px;}
.recomListBox .titlebox .price{ font-size:16px; color:#F6921E}
.recomListBox p{ line-height:0.7;}
.recomListBox .infocon{ color:#666666; position:relative; font-size:12px; padding:5px 60px 5px 2px; text-align:justify; text-justify:inter-ideograph;}
.recomListBox .infocon .icon{ position:absolute; bottom:2px; right:5px; color:#7F7F7F; font-size:10px; border:#ccc solid 1px; padding:0 2px; border-radius:2px;}
.recomScanTitle{ border-bottom:#c4c2c3 solid 1px; line-height:1;   padding:0 20px; font-weight:bold; }
.recomScanTitle .arrowdown{ background:url(../images/icon08.png) no-repeat right center; background-size:12px 12px;}
.recomScanTitle .arrowup{ background:url(../images/icon09.png) no-repeat right center; background-size:12px 12px;}
.recomScanBox{ border-top:#fff solid 1px; padding:10px;}
.recomScanBox .latestScan{ color:#666666; font-size:12px; padding:0 10px;}
.recomScan{ display:none;}
a.recomflexphone{ position:fixed; display:block;  width:50px; height:50px; right:10px; top:60%; background:url(../images/icon07.png) no-repeat left top; background-size:50px 50px;}